body {
    background-color: #a900f7;
    font-family: Helvetica;
    color: #FFFFFF;
}

h1 {
    font-size: 50px;
    margin: 0;
}

p {
    font-style: italic;
}

h2 {
    color: #fc9803;
    border-top: solid 1px #FFFFFF;
}

ol {
    border-bottom: solid 1px #FFFFFF;
}